<div class="p-6">
  <h2 class="text-black/60 text-xl font-medium">Hi Jane,</h2>
  <h1 class="text-gray-800 text-4xl font-medium mt-2">What would you like to do?</h1>

  <div class="grid grid-cols-4 gap-4 mt-6">
    <div class="p-4 bg-white shadow rounded-xl flex flex-col flex items-start gap-8">
      <div class="border rounded-full border-gray-300 p-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
      </div>
      <div class="flex gap-1 flex-col">
        <h3 class="font-semibold">Suggested</h3>
        <p class="text-sm text-gray-500 mt-2">Robert booked for 2 white fillings in upper 1A and upper 1B.</p>
      </div>
    </div>
    <div class="p-4 bg-white shadow rounded-xl flex flex-col flex items-start gap-8">
      <div class="border rounded-full border-gray-300 p-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
        </svg>
      </div>
      <div class="flex gap-1 flex-col">
        <h3 class="font-semibold">Continue from previous</h3>
        <p class="text-sm text-gray-500 mt-2">Tooth ache and sensitivity in upper 1A.</p>
      </div>
    </div>
    <div class="p-4 bg-white shadow rounded-xl flex flex-col flex items-start gap-8">
      <div class="border rounded-full border-gray-300 p-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </div>
      <div class="flex gap-1 flex-col">
        <h3 class="font-semibold">Update profile</h3>
        <p class="text-sm text-gray-500 mt-2">Go to patient profile to add new information.</p>
      </div>
    </div>
    <div class="p-4 bg-white shadow rounded-xl flex flex-col flex items-start gap-8">
      <div class="border rounded-full border-gray-300 p-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
        </svg>
      </div>
      <div class="flex gap-1 flex-col">
        <h3 class="font-semibold">Periodontitis</h3>
        <p class="text-sm text-gray-500 mt-2">Bring up a template for Periodontitis, ready to populate.</p>
      </div>
    </div>
  </div>
</div>
